# Node
node_modules/
.env
.env.*
dist/
build/
.turbo/
.DS_Store
*.log

# Prisma
apps/api/prisma/*.db
apps/api/prisma/migrations/

# Expo
apps/mobile/.expo/
apps/mobile/android/
apps/mobile/ios/
apps/mobile/web-build/
apps/mobile/.expo-shared/

# IDE
.idea/
.vscode/
